<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- ROS1 Gazebo + ros_control 接口定义 -->
    <xacro:macro name="robot_ros_control">
        <!-- transmissions for ros_control -->
        <transmission name="rotation1_transmission">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="rotation1">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="rotation1_motor">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <transmission name="rotation2_transmission">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="rotation2">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="rotation2_motor">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <transmission name="gripper_transmission">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="gripper_joint">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="gripper_motor">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <transmission name="gripper_roll_transmission">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="gripper_roll">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="gripper_roll_motor">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <transmission name="finger1_transmission">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="finger1_joint">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="finger1_motor">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <transmission name="finger2_transmission">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="finger2_joint">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="finger2_motor">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <transmission name="finger3_transmission">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="finger3_joint">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="finger3_motor">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <transmission name="finger4_transmission">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="finger4_joint">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="finger4_motor">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <gazebo>
            <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"/>
        </gazebo>
        
        <!-- Grasp Fix Plugin for automatic gripper attachment -->
        <gazebo>
            <plugin name="gazebo_grasp_fix" filename="libgazebo_grasp_fix.so">
                <arm>
                    <arm_name>scara_arm</arm_name>
                    <palm_link>gripper_link</palm_link>
                    <gripper_link>finger1</gripper_link>
                    <gripper_link>finger2</gripper_link>
                    <gripper_link>finger3</gripper_link>
                    <gripper_link>finger4</gripper_link>
                </arm>
                <forces_angle_tolerance>92</forces_angle_tolerance>
                <update_rate>90</update_rate>
                <grip_count_threshold>8</grip_count_threshold>
                <max_grip_count>12</max_grip_count>
                <release_tolerance>0.001</release_tolerance>
                <disable_collisions_on_attach>true</disable_collisions_on_attach>
                <contact_topic>__default_topic__</contact_topic>
            </plugin>
        </gazebo>
    </xacro:macro>
</robot>
